*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradlew.bat
/gradlew
/gradle.properties
/projectFilesBackup/.idea/
/projectFilesBackup/.idea/workspace.xml
/.idea/modules.xml
/.idea/vcs.xml
